@tailwind base;
@tailwind components;
@tailwind utilities;

/* info Sector */
.wrapper {
  display: "flex";
  flex-wrap: "wrap";
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  background-color: #252b42;
  width: 100%;
}

.innerDiv {
  width: 60%;
  margin: 10px;
  padding: 20px;
  background-color: #252b42;
  color: #ffffff;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.innerDiv2 {
  width: 50%;
  margin: 10px;
  padding: 20px;
  background-color: #252b42;
  color: #ffffff;
}

#descriptionInfo {
  font-size: 14px;
  padding-top: 30px;
}

#headertext {
  font-size: 30px;
  font-weight: 600;
}

#line {
  margin-bottom: 20px;
  height: 5px;
  width: 70px;
  border-bottom: 1px solid #fffdec;
}

.agenciesDescription {
  display: flex;
  padding-top: 70px;
}

.agencies,
.agents,
.sales,
.luxury {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-right: 1px solid #c2bbbd;
}

.subdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* luxury sector */
.luxurySection {
  display: "flex";
  flex-wrap: "wrap";
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  background-color: #ffffff;
  width: 100%;
}

.houseTextWrapper {
  display: flex;
  background-color: #252b42;
  height: 300px;
}

.luxuryHouse {
  width: 60%;
  padding: 20px;
  background-color: #252b42;
  color: #ffffff;
  height: 250px;
}

#imagedes {
  width: 60%;
}

#segment {
  font-size: 25px;
  font-weight: 600;
}

.luxuryText {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 10px;
  padding: 20px;
  background-color: #252b42;
  color: #ffffff;
  height: 200px;
}

#luxuryMsg {
  font-size: 14px;
}

/* footer */

.footerWrapper {
  display: "flex";
  flex-wrap: "wrap";
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  background-color: #252b42;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
}

.footerlogoWrappe {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.line1,
.line2 {
  height: 5px;
  width: 40px;
  border-bottom: 1px solid #fffdec;
}

.line3 {
  margin-bottom: 20px;
  height: 5px;
  width: 100px;
  border-bottom: 1px solid #fffdec;
}

#footertext {
  color: #ffffff;
  font-size: 8px;
}

.lines {
  display: flex;
}

.footerLogo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

#personaliseLogo {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  translate: scale(0.2);
  cursor: pointer;
}

#personaliseLogo:hover {
  background-color: #1a259e;
}

.personaliseLogo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgr {
  margin-bottom: 22px;
}

.imgr:hover {
  background-color: #1d289c;
}

#collection {
  color: #ffffff;
  font-size: 8px;
}

.fcbFooter {
  display: flex;
  gap: 20px;
}

.fcbFooter {
  margin-top: 30px;
}

.footerLog {
  display: flex;
  flex-direction: column;
  line-height: 3;
}

#lineheight {
  color: #ffffff;
  font-size: 14px;
}

#lineheight:hover {
  background-color: #1d289c;
  cursor: pointer;
}

.footerLogoo {
  display: flex;
  flex-direction: column;
  line-height: 3;
}

.djFooter {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.channel,
.channel1,
.channel2,
.channel3,
.channel4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-right: 1px solid #c2bbbd;
}

.channel,
.channel2,
.channel1,
.channel4,
.channel3 p {
  color: #ffffff;
  font-size: 8px;
}

.report {
  display: flex;
}

.copyright p {
  color: #ffffff;
  font-size: 14px;
}

#copy {
  color: #ffffff;
  font-size: 10px;
}
