@tailwind base;
@tailwind components;
@tailwind utilities;

/* info Sector */
.wrapper {
  display: "flex";
  flex-wrap: "wrap";
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  background-color: #2d3556;
  width: 100%;
}

.innerDiv {
  width: 60%;
  margin: 10px;
  padding: 20px;
  background-color: #2d3556;
  color: #ffffff;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.innerDiv2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 10px;
  padding: 20px;
  background-color: #2d3556;
  color: #ffffff;
}

#descriptionInfo {
  font-size: 14px;
  padding-top: 30px;
}

#headertext {
  font-size: 30px;
  font-weight: 600;
}

#line {
  margin-bottom: 20px;
  height: 5px;
  width: 70px;
  border-bottom: 1px solid #fffdec;
}

.agenciesDescription {
  display: flex;
  padding-top: 70px;
}

.agencies,
.agents,
.sales,
.luxury {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-right: 1px solid #c2bbbd;
  font-size: 14px;
}

.subdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* luxury sector */
.luxurySection {
  display: "flex";
  flex-wrap: "wrap";
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  background-color: #2d3556;
  width: 100%;
}

.houseTextWrapper {
  display: flex;
  background-color: #2d3556;
  height: 300px;
}

.luxuryHouse {
  width: 60%;
  padding: 20px;
  background-color: #2d3556;
  color: #ffffff;
  height: 250px;
}

#imagedes {
  width: 60%;
}

#segment {
  font-size: 25px;
  font-weight: 600;
}

.luxuryText {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 10px;
  padding: 20px;
  background-color: #2d3556;
  color: #ffffff;
  height: 200px;
}

#luxuryMsg {
  font-size: 14px;
}

/* footer */

.footerWrapper {
  display: "flex";
  flex-wrap: "wrap";
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  background-color: #2d3556;
  width: 100%;
  margin-top: 120px;
}

.footerlogoWrappe {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.line1,
.line2 {
  height: 5px;
  width: 40px;
  border-bottom: 1px solid #fffdec;
}

.line3 {
  margin-bottom: 20px;
  height: 5px;
  width: 100px;
  border-bottom: 1px solid #fffdec;
}

#footertext {
  color: #ffffff;
  font-size: 8px;
}

.lines {
  display: flex;
}

.footerLogo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.forlogo {
  display: flex;
}

#personaliseLogo {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  translate: scale(0.2);
  cursor: pointer;
}

#personaliseLogo:hover {
  background-color: #1a259e;
}

.personaliseLogo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgr {
  margin-bottom: 22px;
}

.imgr:hover {
  background-color: #1d289c;
}

#collection {
  color: #ffffff;
  font-size: 8px;
  text-align: center;
}

.fcbFooter {
  display: flex;
  gap: 20px;
}

.fcbFooter {
  margin-top: 30px;
}

.footerLog {
  display: flex;
  flex-direction: column;
  line-height: 3;
}

#lineheight {
  color: #ffffff;
  font-size: 14px;
}

#lineheight:hover {
  background-color: #1d289c;
  cursor: pointer;
}

.footerLogoo {
  display: flex;
  flex-direction: column;
  line-height: 3;
}

.djFooter {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.channel,
.channel1,
.channel2,
.channel3,
.channel4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-right: 1px solid #c2bbbd;
}

.channel,
.channel2,
.channel1,
.channel4,
.channel3 p {
  color: #ffffff;
  font-size: 8px;
}

.report {
  display: flex;
}

.copyright p {
  color: #ffffff;
  font-size: 14px;
}

#copy {
  color: #ffffff;
  font-size: 10px;
}

/* Details page */

.detailspageWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2d3556;
  height: 100px;
  padding: 30px;
  width: 100%;
}

#villa {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
}

.villa {
  display: flex;
  gap: 40px;
}

.fa-solid {
  color: #fff;
}

.propertyname {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.heart {
  display: flex;
  gap: 30px;
  cursor: pointer;
}

.fa-heart:hover {
  color: red;
  font-size: 14px;
}

.fa-heart {
  color: #fff;
}

/* carousel and avatar */

.avatarWrapper {
  display: "flex";
  flex-direction: column;
  flex-wrap: "wrap";
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  background-color: #2d3556;
  width: 100%;
}

.subWrapperAvatar {
  display: flex;
}

.leftavatar {
  width: 70%;
  margin: 10px;
  padding: 20px;
  background-color: #2d3556;
  color: #ffffff;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.rightAvatar {
  width: 50%;
  margin: 10px;
  padding: 20px;
  background-color: #2d3556;
  color: #ffffff;
}

.carousel {
  display: flex;
  flex-direction: column;
  width: 32%;
  height: 150px;
  border: 1px solid #ffdeff;
  border-radius: 6px;
  gap: 9px;
}

.slider-container {
  width: 200px;
  height: 70px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

#sliderId {
  border-radius: 5px;
  width: 150px;
  height: 130px;
  cursor: pointer;
 
}

/* .imagess {
  display: flex;
  gap: 6px;
  width: 80%;
  padding: 8px;
  overflow: hidden;
   transition: transform 0.3s ease;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }
} */

#increment,
#decrement {
  color: #fff;
  font-size: 20px;
}

#objectfit {
  object-fit: cover;
  border-radius: 6px;
}

#sliderAvatar {
  object-fit: cover;
  border-radius: 5px;
}

.rightAvatar {
  display: flex;
  flex-direction: column;
}

.rightAvatar h1 {
  color: #fff;
}

.rightAvatar p {
  color: #fff;
}

.comfort {
  display: flex;
  gap: 10px;
  padding-bottom: 40px;
}

#apartment {
  background-color: #c2bbbd;
  border-radius: 1px;
  padding: 8px;
  font-size: 18px;
  font-weight: 400;
}

#comfort {
  background-color: #1a259e;
  border-radius: 2px;
  padding: 8px;
  font-size: 18px;
  font-weight: 400;
}

#stylish {
  font-size: 25px;
  font-weight: 600;
  padding: 5px;
  color: #fff;
  padding-bottom: 30px;
}

.houselocation {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-bottom: 10px;
}

.exactlpcation {
  color: red;
}

#price {
  padding: 8px;
  font-size: 14px;
}

.facilities {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bathrooms {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  /* gap: 45px; */
  height: 80px;
  background-color: #fff;
}

.bathrooms:hover {
  background-color: #1a259e;
}

/* Description */

.descriptionwrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
  width: 100%;
  justify-content: space-between;
}

.subdescription {
  display: flex;
  padding: 20px;
  background-color: #fff;
  justify-content: space-between;
  gap: 30px;
}

.cardes {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.descard {
  width: 40%;
}

.nameofhouse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
  border-radius: 10px;
  background-color: #2d3556;
  padding: 15px;
  color: #fff;
  transition: transform 0.3s ease;
  cursor: pointer;
  height: 200px;
}

.nameofhouse:hover {
  transform: scale(1.1);
}

.characteristics:hover {
  transform: scale(1.1);
}

.shortdescript:hover {
  transform: scale(1.1);
}

.characteristics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
  border-radius: 10px;
  background-color: #2d3556;
  padding: 15px;
  color: #fff;
  transition: transform 0.3s ease;
  cursor: pointer;
  height: 200px;
}

.shortdescript {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
  border-radius: 10px;
  background-color: #2d3556;
  padding: 15px;
  color: #fff;
  transition: transform 0.3s ease;
  cursor: pointer;
  height: 200px;
}

#propertyD {
  color: #252b42;
  font-size: 25px;
  font-weight: 600;
  padding: 20px;
}

#imgdetails {
  transition: transform 0.3s ease;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}

#imgdetails:hover {
  transform: scale(1.1);
}

.smallcard {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  background-color: #2d3556;
  color: #fff;
}

.beautytext {
  display: flex;
  flex-direction: column;
}

/* contactAgent */

.aget {
  background-color: #2d3556;
}

.contact-page {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  gap: 30px;
  align-items: center;
  padding: 20px;
  color: white;
}

.contact-avatar {
  width: 50%;
  margin-top: 20px;
}

.contact-avatar img {
  object-fit: cover;
  border-radius: 5px;
}

.contact-form {
  width: 50%;
  height: 350px;
  /* max-width: 400px; */
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
  margin-top: 0;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.contact-form textarea {
  height: 100px;
}

.contact-form button {
  background-color: #2d3556;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.contact-icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.contact-icons a {
  margin: 0 10px;
}

.contact-icons img {
  width: 30px;
  height: 30px;
}

#contactText {
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  padding: 20px;
  text-align: center;
}
